
/* <------- Navigation Bar Styling ------->*/
img{
  position: fixed;
  top:-200px;
  filter: blur(8px);
  -webkit-filter: blur(4px);
  filter: brightness(40%);
}

.nav_bar{
  width:100%;
  display: flex;
  position: fixed;
  margin-top: 20px;
  z-index: 1;
}

.nav_bar ul {
  position: fixed;
  right:100px;
}
/*------->> Search */

.fa-search{
  color:white;
  font-size: 18px;
  padding-top: 12px;
  padding-left: 20px;
}

.search{
  position: relative;
  left:100px;
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 10px;
}
.search input{
  width:400px;
  border:none;
  height:40px;
  font-size: 16px;
  color:white;
  font-weight: 100;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0);
}

.search input:focus{
  border:none;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:rgba(255, 255, 255, 0.884);
}
::-moz-placeholder { /* Firefox 19+ */
  color:rgba(255, 255, 255, 0.884);
}
:-ms-input-placeholder { /* IE 10+ */
  color:rgba(255, 255, 255, 0.884);
}
:-moz-placeholder { /* Firefox 18- */
  color:rgba(255, 255, 255, 0.884);
}

/*------->> Login/Register */
.nav_bar ul li{
  width:150px;
  height:40px;
  border:1px solid rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  padding-top: 6px;
  border-radius: 4px;
  margin:0 10px;
  cursor: pointer;
  transition: .5s;
}
.nav_bar ul li a{
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  transition: .5s;
  width: 100px;
}

.about{
  background-color: white !important;
  border:none !important;
  padding-top: 8px !important;
  transition: .5s;
}

.about a {
  color:hsl(184, 24%, 55%) !important;
}


.nav_bar ul li:hover{
  background-color: white;
}

.nav_bar ul li:hover a {
  color:hsl(184, 24%, 55%);
}

.about:hover {
  background-color: rgb(92, 56, 109) !important;
}

/* <------- Header Styling ------->*/

.page_head{
  position: relative;
  top:220px;
  width:400px;
  margin:auto;
}

.head_text{
  height:400px;
  margin:auto;
  transition:.5s;
}

.page_head h1 {
  font-size: 80px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.head_text{
  width:90%;
  margin:auto;
}

.page_head h4 {
  margin-top:150px;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.scroll_main{
  position: relative;
  font-size: 60px;
  padding-right: 20px;
  top:30px;
  color:white !important;
}

.login_input{
  display:block;
  width:100%;
  border:2px solid rgb(233, 233, 233);
  border-radius: 3px;
  height:40px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: rgb(233, 233, 233) !important;
  text-align: center;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  transition:.5s;
}

.login_input:hover{
  background-color: rgba(255, 255, 255, 0.61);
  color: rgb(29, 29, 29) !important;
  border:2px solid rgba(255, 255, 255, 0.61);
  border-radius: 3px;
}

.login_input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(65, 65, 65) !important;
  font-weight: bold;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}

.login_input:focus{
  outline:none;
  border:2px solid  rgba(255, 255, 255, 0.61);
  border-radius: 3px;
  font-weight: bold;
}

.submit {
  display:block;
  width:100%;
  border-radius: 20px;
  border:none;
  height:40px;
  margin-top: 60px;
  margin-bottom: 15px;
  color: rgb(233, 233, 233) !important;
  text-align: center;
  font-size: 18px;
  background-color: rgba(61, 37, 71, 0.822);
  transition:.5s;
}

.submit:hover{
  background-color: rgb(92, 56, 109);
}

.error {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}


