<!---------------Navigation Bar-------------->
<div class="nav_bar">

  <!-- search -->
  <div class="search">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search Scroll">

  </div>

  <!-- login/registration -->
  <div class="login_register">
    <ul>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
      <li class="about"><a href="">About</a></li>
    </ul>
  </div>

</div>


<div class="page_head">
  <i class="far fa-newspaper"></i>
  <i class="fas fa-pen-fancy"></i>
  <i class="fas fa-signature"></i>

  <div class="hidden head_text">
    <h1><i class="fas fa-scroll scroll_main"></i>{{title}}</h1>
  </div>

  <h4>"Blogging made simple, for those that love to scroll"</h4>

  <div class="down_arrow arrow1">
    <i class="fas fa-angle-double-down"></i>
  </div>

</div>



<!------------- End of Opening Page ------------->

<div class="picture_contain">
  <img src="../assets/img/mountains.jpg" alt="Dolomites Mountains">
  <h4 id="info_head_1">Scroll is made for everyone. Whether you are at home, on your phone, or in the mountains...</h4>

  <div class="down_arrow arrow2">
    <i class="fas fa-angle-double-down"></i>
  </div>
</div>



<!------------- Start of About ------------->
<div class="page_info">
  <pre id="about">
  Scroll is a familiar space,
    where you can just be... you.</pre>

  <h4 id="info_head_2">
    Blogs should be simple, elegant, powerful, and free. <br> Scroll puts these qualities together into a powerful <br>
    platform, where you can express yourself! <br>
    We are commited to open and free expression,
    <br>because your blog is YOUR blog, not ours...
  </h4>

  <div class="icons">
      <div class="icon_contain">
          <i class="fas fa-pen"></i>
      </div>
      <div class="icon_contain">
        <i class="fas fa-camera"></i>
      </div>
      <div class="icon_contain">
          <i class="far fa-paper-plane"></i>
      </div>
      <div class="icon_contain">
          <i class="fas fa-laptop"></i>
      </div>
      <div class="icon_contain">
          <i class="fas fa-mobile"></i>
      </div>
  </div>

  <div class="down_arrow arrow3">
      <i class="fas fa-angle-double-down"></i>
  </div>
</div>

<div class="page_info_2">
  <h3 class="page_info_head">Post about anything and everything.</h3>
  <h4>Photos, Gifs, Stories, Life Updates, Poems, Art. The list of possibilites are limitless.</h4>

  <div class="blog_contain">

    <!-- card one -->
    <div class="blog_card">

      <div class="card_head">
        <img class="post_profile_photo" src="../assets/img/sky.jpg" alt="">
        <h3>SkiesTheLimit <span>(22min ago)</span></h3>
        <img class="img" src="../assets/img/travel.jpg" alt="">
      </div>

      <div class="card_contents">
        <h2>Sailing in Greece</h2>
        <p>I can't believe how amazing this weekend has been. Good food, wine, and friends to share this incredible journey with. I can't wait to visit again...</p>
      </div>

      <div class="card_footer">

          <i class="fas fa-scroll"></i>
          <p>915</p>

          <i class="far fa-comment-dots"></i>

          <i class="fa fa-retweet" aria-hidden="true"></i>

          <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
    </div>

     <!-- card three -->
     <div class="blog_card">
        <img class="post_profile_photo" src="../assets/img/sky.jpg" alt="">
        <h3>Art-ifacts <span>(2 days ago)</span></h3>
        <div class="card_img">
          <img class="gif" src="../assets/img/fall.jpg" alt="">
        </div>

        <div class="card_footer">

            <i class="fas fa-scroll"></i>
            <p>12,300</p>

            <i class="far fa-comment-dots"></i>

            <i class="fa fa-retweet" aria-hidden="true"></i>

            <i class="fa fa-heart" aria-hidden="true"></i>
        </div>

      </div>

     <!-- card two -->
    <div class="blog_card">
      <img class="post_profile_photo" src="../assets/img/sky.jpg" alt="">
      <h3>GhibliDearest <span>(2 hours ago)</span></h3>
      <div class="card_img">
        <img class="gif" src="../assets/img/kiki.gif" alt="">
      </div>

      <div class="card_footer">

          <i class="fas fa-scroll"></i>
          <p>2,011</p>

          <i class="far fa-comment-dots"></i>

          <i class="fa fa-retweet" aria-hidden="true"></i>

          <i class="fa fa-heart" aria-hidden="true"></i>
      </div>

    </div>

  </div>

  <div class="down_arrow arrow4">
      <i class="fas fa-angle-double-down"></i>
  </div>
</div>

<div class="page_info_3">
    <h3>Our Platform</h3>


</div>
