
/* <------- Navigation Bar Styling ------->*/

.scroll_main{
  position: relative;
  font-size: 30px;
  padding-right: 10px;
  top:15px;
  color:white !important;
  transition:.5s;
}

.head_text{
  width:400px;
  height: 60px;
  margin:0 80px;
  transition:.5s;
  border-radius: 8px;
}

.head_text h1 {
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  border:2px solid white;
  border-radius: 8px;
  transition:.5s;
}

.head_text:hover h1{
  color: rgb(107, 87, 124);
  border:2px solid rgb(107, 87, 124);;
}

.head_text:hover i{
  color: rgb(107, 87, 124) !important;
}

.nav_bar{
  width:100%;
  display: flex;
  position: fixed;
  top:0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  background-color: hsl(184, 18%, 30%);
}

.nav_bar ul {
  position: fixed;
  margin:10px 200px;
}
/*------->> Search */

.fa-search{
  color:white;
  font-size: 18px;
  padding-top: 12px;
  padding-left: 20px;
}

.search{
  position: fixed;
  margin-top: 10px;
  right:80px;
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 10px;
}
.search input{
  width:400px;
  border:none;
  height:40px;
  font-size: 16px;
  color:white;
  font-weight: 100;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0);
}

.search input:focus{
  border:none;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:rgba(255, 255, 255, 0.884);
}
::-moz-placeholder { /* Firefox 19+ */
  color:rgba(255, 255, 255, 0.884);
}
:-ms-input-placeholder { /* IE 10+ */
  color:rgba(255, 255, 255, 0.884);
}
:-moz-placeholder { /* Firefox 18- */
  color:rgba(255, 255, 255, 0.884);
}

/*------->> Login/Register */
.nav_bar ul li{
  width:40px;
  height:40px;
  text-align: center;
  display: inline-block;
  padding-top: 6px;
  border-radius: 10px;
  margin:0 20px 0 20px;
  cursor: pointer;
  transition: .5s;
}
.nav_bar ul li i{
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  transition: .5s;
}

.about{
  background-color: white !important;
  border:none !important;
  padding-top: 8px !important;
  transition: .5s;
}

.about a {
  color:hsl(184, 24%, 55%) !important;
}

.nav_bar ul li:hover i {
  color:rgb(92, 56, 109);
}


/* <------- Add_post ------->*/
.add_post{
  display: inline-block;
  width: 52px;
  margin:auto 20px;
  height:60px;
  transition: .5s;
}

.add_post i{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.322);
  transition: .5s;
}

.add_post i:hover{
  color:rgb(219, 219, 219);
}

.add_post_text {
  margin:auto;
  padding:15px 0 0 24px;
  display: inline-block;
  position:relative;
  color:white;
  font-size: 20px;
  visibility: hidden;
}

#post_form{
  display:block;
  margin:20px auto;
  width:460px;
  min-height:100px;
  border-radius: 6px;
  background-color: white;
}

#post_form i{
  font-size: 50px;
  width:80px;
  margin-top: 10px;
  margin:10px 6px;
  height:80px;
  padding:16px 14px;
  transition: .5s;
}

#post_form i:hover{
  color: hsl(130, 36%, 50%);
}

.fa-link{
  color:rgb(57, 76, 116);
}

.fa-images{
  color:rgb(50, 100, 50);
}

.fa-font{
  color:rgb(34, 34, 34);
}

.fa-youtube{
  color:rgb(185, 42, 42);
}

.fa-headphones{
  color:rgb(79, 49, 99);
}

/* <------- Blog Styling ------->*/

.main_dash{
  position: relative;
  display: block;
  width:36%;
  margin:100px auto;
  min-height: 760px;
  border-radius: 6px;
  padding:20px 0 60px 0;
  background-color: rgba(0, 0, 0, 0.171);
}

.blog_contain{
  width:100%;
  margin:auto;
}

.blog_card{
  display:block;
  margin:20px auto;
  width:460px;
  min-height:350px;
  border-radius: 6px;
  background-color: white;
}

.blog_card h3{
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  padding-left: 0px;
  color:black;
  font-weight: bold;
  display: inline-block;
}

.blog_card span{
  margin:0;
  padding:0;
  top:0;
  color:grey;
}

.card_img{
  background-color: rgb(17, 17, 17);
}

.img{
  width:100%;
  margin:auto;
}

.gif{
  width:100%!important;
}

.post_profile_photo{
  width:50px!important;
  border-radius: 50%;
  display: inline-block;
  margin:15px;
}

.card_contents{
  width:80%;
  margin:auto;
}

.card_contents h2, p{
  color:rgb(24, 24, 24);
}

.card_contents h2{
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

.card_contents p{
  padding-bottom: 5px;
}

.card_footer{
  width:100%;
  position: relative;
  bottom: -5px;
  background-color: rgb(255, 255, 255);
  height:50px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: right;
}

.card_footer .fa-scroll{
  color:rgb(109, 109, 109) !important;
  display: inline-block !important;

}

.card_footer p{
  display: inline-block;
  color:grey;
  padding-right: 220px;
  padding-top: 10px;
}

.card_footer i{
  color:rgb(109, 109, 109);
  position: relative;
  padding-top: 15px;
  display: inline-block;
  font-size: 24px;
  margin: 0 10px;
  transition: .5s;
}

.card_footer i:hover{
  color:rgb(97, 158, 95)!important;
}
