<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scroll | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />

    <!--------- Importing Text Styling -------->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
    <script src="main.js"></script>
    

</head>
<body>

<div class="main_contain">
    <div class="nav_bar">
        <div class="search"></div>
        <div class=""></div>
    </div>
</div>

</body>
</html>